# Django and Django REST Framework
django==4.2.7
djangorestframework==3.14.0

# For GeoDjango (if you add location features)
psycopg2-binary==2.9.9

# Celery for background tasks
celery==5.3.6

# Redis for Celery message broker
redis==5.0.1

# For reading .env files
python-dotenv==1.0.0

# For making HTTP requests in your tasks (optional but useful)
requests==2.31.0

python-whois
beautifulsoup4
requests
dnspython
shodan
cryptography
reportlab